body {
    padding: 0;
    margin: 0;
}
html,
body,
#map {
    height: 100%;
    width: 100vw;
}
.leaflet-control-layers,
.leaflet-bar,
.leaflet-bar a:first-child,
.leaflet-bar a:last-child,
.leaflet-popup-content-wrapper,
.panel,
.form-control,
.alert,
.btn {
    border-radius: 0px;
}
.slider {
    margin-left: 60px !important;
}
.ui-rangeSlider-arrow,
.ui-rangeSlider-noArrow .ui-rangeSlider-container,
.ui-rangeSlider-withArrows .ui-rangeSlider-container {
    box-shadow: none;
}
.ui-rangeSlider-leftArrow .ui-rangeSlider-arrow-inner {
    border-right-color: black;
}
.ui-rangeSlider-rightArrow .ui-rangeSlider-arrow-inner {
    border-left-color: black;
}
.ui-rangeSlider-bar {
    background: rgba(255, 186, 39, 1.0);
    box-shadow: none;
}
.ui-rangeSlider-arrow,
.ui-rangeSlider-container,
.ui-rangeSlider-label {
    background: white;
}
.ui-rangeSlider-label,
.ui-rangeSlider-rightArrow,
.ui-rangeSlider-leftArrow {
    color: black;
    border-radius: 1px;
}
.ui-rangeSlider-label-inner {
    border-top-color: white;
}
.ui-rangeSlider-arrow,
.ui-rangeSlider-container {
    height: 15px;
}
.ui-rangeSlider-bar {
    height: 13px;
}
.ui-rangeSlider-label {
    font-size: 12px;
}
.button-slider-play {
    display: block;
    position: absolute;
    bottom: 5px;
    height: 18px;
    padding: 5px 5px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: rgba(255, 186, 39, 1.0);
    border: 1px solid white;
    border-radius: 2px;
}
.button-slider-play:hover {
    background: #dd9c2e;
}
.button-slider-speed {
    display: block;
    position: absolute;
    bottom: 5px;
    height: 18px;
    padding: 5px 5px;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: #FFD284;
    border: 1px solid white;
    border-radius: 2px;
}
.play-control {
    right: -150px;
}
.slow {
    right: -45px;
}
.normal {
    right: -78px;
}
.fast {
    right: -110px;
}
.button-slider-speed:hover,
.button-slider-speed-selected {
    background: rgba(255, 186, 39, 1.0);
}
